body {
    font-family: Arial, sans-serif;
    background-color: #CCC;
    margin: 0;
}

.hero {
    background-image: url(../ProjetoCSS_inicio/imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero-content {
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content  h1 {
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #222;
}

.hero-content p {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}

main {
    width: 80%;
    margin: auto;
}

.content-section {
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.card {
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.card-1, .card-2 {
    margin-right: 2%;
}

.card img {
    width: 100%;
    display: block;
}

.card p {
    background-color: #393535;
    color: white;
    margin: 0;
    padding: 15px;
}

.hero nav ul {
    text-align: right;
    margin: 20px 50px 0 0;
}

.hero nav li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    border: 1px solid white;
}

.hero nav a {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.content-section-header h2 {
    margin-left: 10px;
}

.content-section-header {
    border-bottom: 1px solid #ccc;
}

footer {
    color: white;
    text-align: center;
    font-size: 14px;
    background-color: #6b6c68;
    width: 100%;
    height: 80px;
    line-height: 80px;
}




























